/*
Website Styles
*/

body {
	font-family: 'Mali', cursive;
	font-size: 20px;
	background-color: purple;
	color: white;
}
h1 {
	font-size: 40px;
}
select {
		font-family: 'Charmonman';
		background-color: purple;
}
table, th, td {
	vertical-align: top;
}
img {
	vertical-align: top;	
}

a {

color: white;
}
